<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1><%=pokemon.name%></h1>
        
        <br>
        <button onclick="location.href='/'" type="button">Back</button> 
        <br>
        <img src="<%=pokemon.img%>">
        <br>
        TYPE <%=pokemon.type; %>
        <br>
        HP:<%=pokemon.stats.hp%> <br>
       ATTACK:<%=pokemon.stats.attack%> <br>
       DEFENSE:<%=pokemon.stats.defense%> <br>
    
</body>
</html>